.head{
    background-color: lightblue;
    height: 150px;
    position: relative;
}

.sfondo{
    width: 100%;
    height: 100%;
    
    
}

.booleaner{
    position: absolute;
    bottom:10px;
    left: 5px;
    width: 200px;
}