.head{
    background-color: lightblue;
    height: 150px;
    position: relative;
}

.sfondo{
    width: 100%;
    height: 100%;
    
    
}

.booleaner{
    position: absolute;
    bottom:10px;
    left: 5px;
    width: 200px;
}

.titolo{
    font-size: 40px;
    text-align: justify;
}

.firma{
    font-size: 15px;
    color: lightslategray;
}

.firma2{
    color: blue;
    font-weight: 600;
}

.immagini{
    width: 1900px;
    margin-top: 20px;
}

.foto{
    width: 900px;
    height: 500px;
}

.descrizione{
    font-size: 12px;
}

.lista{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.tabella {
    width:100%;
    width: 100%;
    display: inline;
    font-weight: bold;
    border-style: none;
}

.thead {
    color:white;
    color: white;
    background-color: rgb(57, 153, 243);
    text-align: left;
    height: 30px;
}
.dim {
    width: 50%;
}
.colore {
    background-color: lightblue;
}


